<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icons.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <title>{% block title %}Corona Admin{% endblock %}</title>
    <!-- Estilos CSS globais -->
    <link rel="stylesheet" href="{% static 'global.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% include "shared/partials/_navbar.html" %}
    </header>

    <main class="container-scroller">
        {% include "shared/partials/_sidebar.html" %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Django Site</p>
    </footer>

    <!-- Scripts JS globais -->
    {% include "shared/partials/_footer.html" %}
    <script src="{% static 'shared/global.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
